html,
body,
#app {
	background-color: $white;
	color: $black;
	font-size: $font-size-main + px;
	font-family: $font-family-main;
	font-weight: $font-weight-main;
	width: 100%;
	min-height: 100vh;
	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
	&:not(html) {
		::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}
		::-webkit-scrollbar-track {
			border-radius: 0 16px 0 0;
			background: transparent;
			margin: 15px 0;
		}
		::-webkit-scrollbar-thumb {
			background: #cbd1db;
			border-radius: 16px;
			&:hover {
				background: #aaadb3;
				background-clip: padding-box;
			}
		}
	}
}

#app {
	display: flex;
}
