@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2");
	font-weight: 100;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Light.woff2") format("woff2");
	font-weight: 300;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@dv-admin/assets/fonts/Roboto/Roboto-Black.woff2") format("woff2");
	font-weight: 900;
	font-display: block;
	font-style: normal;
}
