*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

*:focus:not(:focus-visible) {
	box-shadow: none;
	outline: none;
}

*:focus-visible {
	outline: 2px solid #4a90e2;
	outline-offset: 2px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
pre {
	margin: 0;
	padding: 0;
}

a,
a:link,
a:hover,
a:visited {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

ul,
ol,
ol li,
ul li {
	list-style: none;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	background: none;
	color: inherit;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button {
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
	@media (hover: hover) {
		&:hover:not(:disabled) {
			cursor: pointer;
		}
	}
}
