*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
.cursorrules
.cursorignore
dist
dist-ssr
dist-temp
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.husky
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.env
.npmrc
