@use "../additional/vars" as *;

// global titles
.global-title-h2 {
	color: $main-title-color;
	font-family: $font-family-main;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%;
	@media (max-width: 768px) {
		font-size: 18px;
	}
	@media (max-width: 480px) {
		font-size: 16px;
	}
}
