// Container width constraint
$padding-main: 15;
$maxWidthContainer: 1200 - $padding-main;
$header-height: 56px;

//Fonts
$font-size-main: 16;
$font-family-main: "Roboto", sans-serif;
$font-weight-main: 500;

// Colors
$white: #ffffff;
$black: #303345;
$secondary: #6b6d80;
$grey: #e1e8f1;
$grey-opacity: #a4a5b1;
$grey-light: #cdd4dd;
$blue: #1968e5;
$blue-light: #e3edfc;
$blue-opacity: #f7f9fb;
