// Container width constraint
$padding-main: 16;
$max-width-container: 1140 + $padding-main + $padding-main;

//Fonts
$font-size-main: 16;
$font-family-main: "Roboto", sans-serif;
$font-weight-main: 500;

// Colors
$main-background: #f3f4f6;
$main-color: #1e1e1e;
$main-title-color: #242424;
$main-subtitle-color: #a4a5b1;
$main-text-grey-color: #6b6d80;
$main-text-link-and-price-color: #1968e5;
$main-border-color: #ecf0f5;
$form-background: #fff;

// header form
$label-header-form-background: #0b0b0b;
$text-header-form-background: #fff;
